VITE_SUPABASE_URL=https://swwcblmsymbwshsxqhag.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN3d2NibG1zeW1id3Noc3hxaGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ5NzA2MjUsImV4cCI6MjEwMDU0NjYyNX0.lJJTPF_WkBSXCXC7WRZjzHY6j4r8vJoujEIJlrJakfY
